<div fxFlex [hidden]="lineChartData">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div class="data-viz-container" fxLayout="column" fxLayoutAlign="space-evenly end">
    <canvas baseChart width="700" height="500" min-height="300"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>
