<div class="dashboard" fxLayout="column" fxLayoutAlign="space-between center">
  <app-utility-bar></app-utility-bar>
  <nav mat-tab-nav-bar fxLayout="row">
        <span *ngFor="let link of navLinks" fxLayoutAlign="center center"><a
      mat-tab-link
      
      [routerLink]="link.link"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
    <mat-icon aria-hidden="false">{{ link.icon }}</mat-icon> {{ link.label }}
    </a>
</span>
  </nav>

  <div
    class="data-viz-container"
    fxLayout="column"
    fxLayoutAlign="space-evenly center"
    style="width: 100%;"
  >
    <div *ngIf="apiType == 'engagement-history'">
      <app-eng-hist></app-eng-hist>
    </div>
    <div *ngIf="apiType == 'msg-interactions'">
      <app-msg-int-hist></app-msg-int-hist>
    </div>
  </div>
</div>
