@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-orange, 600);

a {
    text-decoration: none;
    color: white;
}

.dashboard {
    padding: 150px 50px 150px 50px;
    overflow-y: scroll;
    background-color: #222;
}

.data-viz-container {
    position: relative;
    padding: 5%;
}

.invisible {
    display: none;
}

.loading-spinner {
    height: 80px;
    width: 80px;
}

mat-icon {
    color: white;
    padding: 10px;
}