
<div fxFlex [hidden]="barChartData">
    <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div fxLayout="column" fxLayoutAlign="space-evenly end">
    <canvas baseChart width="700" height="500" min-height="300"
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [chartType]="barChartType">
    </canvas>
    <canvas baseChart width="700" height="500" min-height="300"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins">
    </canvas>
  </div>