<button mat-button (click)="drawer.open()">
  <mat-icon aria-hidden="false">pie_chart</mat-icon>
</button>

<mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container"
>
  <mat-drawer #drawer class="drawer" mode="side" opened="false">
    <div fxFlexLayout="row">
      <mat-icon class="close" (click)="drawer.close()">close</mat-icon>
      <h4 class="note">
        [ Chain multiple values in input with "," without spaces ]
      </h4>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button class="reset-button" (click)="resetForm()" mat-button>
          Reset Form
        </button>
      </div>
    </div>
    <form [formGroup]="paramForm">
      <mat-error *ngIf="errMess">
        {{ errMess }}
      </mat-error>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              Parameters
            </mat-panel-title>
            <mat-panel-description>
              Set Data Size and Order Parameters
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field *ngIf="paramForm">
            <input
              matInput
              [placeholder]="params.limit.inputPlaceholder"
              [formControlName]="params.limit.formControlName"
            />
          </mat-form-field>
          <mat-form-field *ngIf="paramForm">
            <input
              matInput
              [placeholder]="params.offset.inputPlaceholder"
              [formControlName]="params.offset.formControlName"
            />
          </mat-form-field>
          <mat-form-field *ngIf="paramForm">
            <mat-select
              [formControlName]="params.sort.formControlName"
              [placeholder]="params.sort.selectPlaceholder"
            >
              <mat-option
                *ngFor="let lookup of params.sort.values"
                [value]="lookup.value"
              >
                {{ lookup.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
    <form
      fxLayoutGap="10"
      class="form"
      novalidate
      [formGroup]="queryForm"
      (ngSubmit)="onSubmit()"
    >
      <mat-accordion fxLayoutGap="10" *ngFor="let type of time.times">
        <mat-expansion-panel
          [formGroupName]="type.formGroupName"
          class="startTime"
        >
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              {{ type.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ type.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngIf="type.name != 'Latest Update Time'">
            <div
              *ngFor="let each of time.body | keyvalue: returnZero"
              [formGroupName]="each.value.formGroupName"
            >
              <mat-label>{{ each.value.name }}</mat-label>
              <mat-form-field>
                <input
                  matInput
                  [matDatepicker]="picker"
                  placeholder="Choose a date"
                  [value]="date"
                  formControlName="date"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="hour" placeholder="Hour">
                  <mat-option
                    *ngFor="let hour of each.value.hours"
                    [value]="hour"
                  >
                    {{ hour }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="minute" placeholder="Minute">
                  <mat-option
                    *ngFor="let minute of each.value.minutes"
                    [value]="minute"
                  >
                    {{ minute }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-select formControlName="period" placeholder="AM/PM">
                  <mat-option
                    *ngFor="let period of each.value.periods"
                    [value]="period"
                  >
                    {{ period }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div
            *ngIf="type.name == 'Latest Update Time'"
            [formGroupName]="time.body.From.formGroupName"
          >
            <mat-label>{{ time.body.From.name }}</mat-label>
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="picker"
                placeholder="Choose a date"
                [value]="date"
                formControlName="date"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="hour" placeholder="Hour">
                <mat-option
                  *ngFor="let hour of time.body.From.hours"
                  [value]="hour"
                >
                  {{ hour }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="minute" placeholder="Minute">
                <mat-option
                  *ngFor="let minute of time.body.From.minutes"
                  [value]="minute"
                >
                  {{ minute }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field>
              <mat-select formControlName="period" placeholder="AM/PM">
                <mat-option
                  *ngFor="let period of time.body.From.periods"
                  [value]="period"
                >
                  {{ period }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion *ngFor="let item of chainedValues | keyvalue: returnZero">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              {{ item.value.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ item.value.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input
              matInput
              [placeholder]="item.value.inputPlaceholder"
              [formControlName]="item.value.formControlName"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-select>
              <mat-option
                *ngFor="let lookup of item.value.values"
                [value]="lookup.value"
              >
                {{ lookup.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion *ngFor="let item of chainedValues2 | keyvalue: returnZero">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              {{ item.value.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ item.value.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>

          <mat-form-field>
            <input
              matInput
              [placeholder]="item.value.inputPlaceholder"
              [formControlName]="item.value.formControlName"
            />
          </mat-form-field>
          <mat-form-field>
            <mat-select>
              <mat-option
                *ngFor="let lookup of item.value.values"
                [value]="lookup"
              >
                {{ lookup }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion *ngFor="let item of dropDownSelect | keyvalue: returnZero">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              {{ item.value.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ item.value.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <mat-select
              [placeholder]="item.value.selectPlaceholder"
              [formControlName]="item.value.formControlName"
            >
              <mat-option
                *ngFor="let lookup of item.value.values"
                [value]="lookup.value"
              >
                {{ lookup.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion
        *ngFor="let item of doubleSelect | keyvalue: returnZero"
        [formGroupName]="item.value.formGroupName"
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              {{ item.value.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ item.value.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <div *ngFor="let each of item.value.sets">
            <mat-form-field>
              <mat-select
                [placeholder]="each.placeholder"
                [formControlName]="each.formControlName"
              >
                <mat-option *ngFor="let lookup of each.values" [value]="lookup">
                  {{ lookup }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion *ngFor="let item of singleInput | keyvalue: returnZero">
        <mat-expansion-panel>
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              {{ item.value.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ item.value.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field>
            <input
              matInput
              [placeholder]="item.value.inputPlaceholder"
              [formControlName]="item.value.formControlName"
            />
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion
        *ngFor="let item of multipleInput | keyvalue: returnZero"
        [formGroupName]="item.value.formGroupName"
      >
        <mat-expansion-panel>
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              {{ item.value.name }}
            </mat-panel-title>
            <mat-panel-description>
              {{ item.value.description }}
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-form-field *ngFor="let input of item.value.sets">
            <input
              matInput
              [placeholder]="input.placeholder"
              [formControlName]="input.formControlName"
            />
          </mat-form-field>
        </mat-expansion-panel>
      </mat-accordion>

      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header class="space-between">
            <mat-panel-title>
              Conversations with Step Up Only
            </mat-panel-title>
            <mat-panel-description>
              (Requires: Keywords, Summary, or Engagement Attributes)
            </mat-panel-description>
          </mat-expansion-panel-header>
          <mat-radio-group
            aria-label="Select an option"
            formControlName="conversationsWithStepUpOnly"
          >
            <mat-radio-button value="true">True</mat-radio-button>
            <mat-radio-button value="false">False</mat-radio-button>
          </mat-radio-group>
        </mat-expansion-panel>
      </mat-accordion>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button class="search-button" type="submit" mat-button>
          Search
        </button>
      </div>
    </form>
  </mat-drawer>
</mat-drawer-container>
