a.nav-link {
  color: white;
  text-decoration: none;
}

a.nav-link:hover {
  color: gray;
  border-bottom: 1px solid gray;
}

.cover {
  height: 100%;
  background-color: #212121;
  padding: 15%;
}

.cover-text {
  width: 90%;
  color: white;
}

.cover button {
  width: 150px;
  margin: 20px 0px 20px 0px;
}

@media only screen and (max-width: 480px) {

  .cover p {
    display: none;
  }
}


