<div class="cover" fxLayout="column" fxLayoutAlign="space-evenly center">
  <div class="cover-text" fxLayout="column" fxLayoutAlign="center center">
    <h1>{{ "LivePerson Historical Data Platform" | uppercase }}</h1>
    <p>
      This platform provides you with the historical data associated to your
      account.<br />
      Once you've logged in with your credentials, use the side navigation to
      select which kind of historical data you'd like to see.<br />
      You should also be able to use our search panel to make your queries more
      specific.<br />
      This platform is built over the Data History APIs in
      <a
        target="_blank"
        rel="noopener noreferrer"
        href="https://developers.liveperson.com/index.html"
        class="nav-link"
        ><span>LivePerson Developers</span></a
      >.
    </p>
    <div fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button routerLink="/login" color="primary">
      {{ "Get Started" | uppercase }}
    </button>
  </div>
  </div>
  
  <div class="logo" fxLayout="column" fxLayoutAlign="end center">
    <img src="/assets/liveperson-logo.png" />
  </div>
</div>
