a.nav-link {
  color: white;
  text-decoration: none;
}

a.nav-link:hover {
  color: gray;
  border-bottom: 1px solid gray;
}



.cover {
  height: 100%;
  background-color: #212121;
  padding: 15%;
}

.cover-text {
  width: 90%;
  color: white;
}

.cover button {
  margin: 8px;
}

.logo {
    display:flex;
    justify-content: center;
    padding: 100px 0px;
//   border: 1px solid white;
  width: 100%;
}

.logo img {
    width: 30%;
    min-width: 250px;
}
